/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 a:active {
  color: black;
 }

.icon-block {
  padding: 0 15px;
  cursor: pointer; cursor: hand;
}

.icon-block img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 10px;
  max-height: 100px;
}

.icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

#phone {
  padding-right: 14px;
  color: white;
  font-size: 32px;
  padding-left: 8px;
}

.contacticon {
  height: 48px;
}

.contacticon a:active{
  color: black;
}

.page-footer li{
  font-size: 16px;
}

#rest {
  padding-top: 10px;
}

body.modal-open {
    overflow: hidden;
}

.modal li {
  display: inline;
  padding-right: 10px;
}

body {
  background-color: #f5f5f5;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
